
:root{
    --light2-palette: #FFCFA3;
    --light1-palette: #F5B173;
    --base-palette: #D38A47;
    --dark1-palette: #B56B26;
    --dark2-palette: #8F4B0D;

    /* BASEPALLETE \\ BASE rgb=5E7FC6 \\ dist=22º \\ 3 elems*/
    --block-color:#5E7FC6;
    --hover-item:#B5C8F0;
    --focus-item:#4063AD;
    --button-item:#264C9C;
    --bg-color:#85A1DC; 

    --num-items:#BEB8F1;
    --bg-btn:#938ADF;
    --none1:#6F64CA;
    --border-btn:#5246B3;
    --important-item:#382CA2;

}

/* VISUALIZACION EN ORDENADOR */
@media screen and (min-width:680px ) {
    #div_navigation{
        background-color: var(--important-item);
        top: 0;left: 0;
        width: 100%;
        display: flex;  
    } 

    #div_navigation>span:hover{
        background-color: var(--hover-item);  
        color: var(--important-item);
    }

    .div_coreblock{
        margin: 0rem 8rem;
        padding: 0.5rem 1rem 1rem;
        border-radius: 5px;
        background-color: var(--block-color);
        position: relative;
    }
}

/* VISUALIZACION EN MOVIL */
@media screen and (max-width:680px ) {
    #div_navigation{
        background-color: #B56B26;
        position: relative;
        top: 0;left: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    } 

    #div_navigation>span{
        border: 1px solid var(--hover-item); 
    }
    
    .div_coreblock{
        margin: 0rem 2rem;
        padding: 0.5rem 1rem 1rem;
        border-radius: 5px;
    }

    
}

    
#div_navigation>span{
    background-color:var(--important-item);
    padding: 1rem 0rem;
    flex-grow: 1; 
    text-align: center;
    float: left;
}




/*=====| PRESENTATION - DIV |===== */
#div_presentation{
    /* border: 1px solid black; */
    padding: 1rem 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*=====| CONTACT - DIV |===== */
#div_contact{
    padding: 0.5rem 1rem 2rem;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
}